.content-label-result {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    /* padding: 10px 15px; */
  }
  
  .container-result {
    overflow: hidden;
  }


  .messageEncrypted {
    background: #15181d;
    color: var(--primary);
    height: 100px;
    border-radius: 8px;
    overflow-y: auto;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    border: 1px solid #3438418a;
    padding: 20px 15px;
  }
  
  .messageEncrypted::selection {
      background-color: #1a1a1a;
  }