form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 50px 0px;
  box-sizing: border-box;
}

.label {
  color: #d6d7e4;
  font-weight: bold;
}

.container-element {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: hidden;
}

.disabled-label {
  color: #424242;
}

/* button[disabled].button-action {
    
    } */

.container-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}