.encrypt-buttons {
  display: flex;
  column-gap: 5px;
}

.reset-button {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  color: #9091a8;
}

textarea {
  font-family: "Roboto", sans-serif;
  resize: none;
  background-color: transparent;
  border: none;
  color: white;
  height: 100px;
  width: 100%;
  padding: 0px;
  font-size: 15px;
  z-index: 1;
}

textarea::placeholder {
  color: #515863;
}

textarea:focus {
  border: none;
  outline: none;
}

.textarea-container {
  position: relative;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #0000004d;
  z-index: 2;
}

.textarea-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(
    83.23deg,
    rgba(254, 177, 84, 0.5) -6.32%,
    rgba(210, 99, 238, 0.5) 23.89%,
    rgba(93, 90, 246, 0.5) 67.88%,
    rgba(9, 224, 160, 0.5) 107.67%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask:  linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
}

.textarea-container:focus-within::before {
  background: linear-gradient(
    83.23deg,
    #feb154 -6.32%,
    #d263ee 23.89%,
    #5d5af6 67.88%,
    #09e0a0 107.67%
  );
}

textarea[disabled] {
  background-color: #282828;
  border: 1px solid #282828;
}

textarea[disabled]::placeholder {
  color: #363636;
}
