:root {
  --primary: #a8e537;
  --primary-light: #d2ff80;
  --secondary: #37cae6;
  --high-light: #ffffff;
  --color-font: #242424;
  --dark-1: #0e0e0e;
  --dark-2: #1a1a1a;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: var(--dark-1);
  margin: 0;
}