form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 50px 0px;
  box-sizing: border-box;
}

.form-element-label {
  color: #d6d7e4;
  font-weight: bold;
}

.form-element-container{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow: hidden;
}

.container-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}